In [5]:
a=[1,3,5,7,9] # 리스트는 대괄호 [] 로 감싼다
a[0] = 10 # 변경 가능
print(a) # 리스트 전체
print(a[0]) # 첫번째 요소
print(a[-1]) # 마지막 요소

a=[1,2,3,['a','b','c']] # 중첩 리스트
for i in a:
    print(i)
print(a[-1][0]) # 리스트[행][열]

[10, 3, 5, 7, 9]
10
9
1
2
3
['a', 'b', 'c']
a

In [6]:
#얕은 복사
a=[1,2,3,4,5]
b=a # a가 가리키는 주소값이 b 참조변수에 할당됨
b[0]=10
print("a:",a)
print("b:",b)

a: [10, 2, 3, 4, 5]
b: [10, 2, 3, 4, 5]

In [7]:
#깊은 복사
a=[1,2,3,4,5]
# 새로운 리스트를 메모리에 할당한 후 b 참조변수에 전달
b=a[:] # a[start:end-1] start,end가 생략되면 전체 선택
b[0]=10
print("a:",a)
print("b:",b)

a: [1, 2, 3, 4, 5]
b: [10, 2, 3, 4, 5]

In [8]:
a=[1,2,3,4,5]
print(a[0:2]) #0부터 1까지

a=[1,2,3]
b=[4,5,6]
c=a+b # 리스트와 리스트가 연결됨
print(c)

a=[1,2,3]
b=a*3 # 리스트가 여러번 연결됨
print(b)

[1, 2]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
a=[1,2,3]
print(type(a))
print(type(a[2]))
print(a[2]+"hi") #숫자 + 문자열 => 에러

<class 'list'>
<class 'int'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
a=[1,2,3]
# str(정수) 정수를 문자열로 변경
print( str(a[2])+"hi")

3hi

In [15]:
a=[1,2,3]
print(type(a[1:2]))
print(a[1:2]) # 리스트[start:end]  start~end-1 슬라이싱
a[1:2] = ["a","b","c"]  # 두번째 요소에 'a','b','c' 삽입
print(a)

a=[1,2,3]
a[1] = ["a","b","c"] #두번째 요소의 하위 리스트로 입력됨
print(a)

<class 'list'>
[2]
[1, 'a', 'b', 'c', 3]
[1, ['a', 'b', 'c'], 3]

In [1]:
a=[1,2,3]
# 리스트[start:end]   슬라이싱 start ~ end-1 
a[1:3] = [] # 1,2번 요소가 지워짐
print(a)

a=[1,2,3]
del a[1] # 1번 인덱스 값 삭제
print(a)

[1]
[1, 3]

In [2]:
a=[1,2,3]
# 리스트.append(value)  리스트에 새로운 요소 추가
a.append(4)
print(a)

a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [4]:
a=[1,4,3,2]
a.sort() 
print(a)
a.reverse() #뒤집기
print(a)

a=['a','c','b']
a.sort()
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]
['a', 'b', 'c']

In [5]:
a=[1,2,3]
print(a.index(3)) # 3이라는 값이 몇번째 위치에 있는가?
print(a.index(1))
print(a.index(0)) # 값이 없으면 에러 발생

2
0

ValueError: 0 is not in list

In [7]:
a=[1,2,3]
print(a)

a.insert(0,4) #0번 인덱스 위치에 4를 입력
print(a)

[1, 2, 3]
[4, 1, 2, 3]

In [10]:
a=[1,2,3,1,2,3]
# a 리스트에서 값이 3인 요소 제거(1개만)
a.remove(3) #값으로 삭제
print(a)
del a[0] #인덱스로 삭제
print(a)

[1, 2, 1, 2, 3]
[2, 1, 2, 3]

In [11]:
a=[1,2,3]
b=a.pop() #리스트의 마지막 요소를 꺼내고 리스트에서 삭제
print(a)
print(b)

[1, 2]
3

In [12]:
a=[1,2,3,1,2,1]
b=a.count(1) # value가 1인 요소가 몇 개인지 계산
print(b)

3

In [16]:
#리스트의 확장
a=[1,2,3]
# 리스트1.extends(리스트2)
a.extend([4,5]) 
print(a)
# a.extend(6) 리스트만 가능
b=[4,5]
print(a+b) #리스트의 연결

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 4, 5]

In [14]:
a=[1,2,3,4,5]
result = 2 in a # a 리스트에 값 2가 포함되어 있는가?
print(result)

result = 2 not in a # a 리스트에 값 2가 포함되어 있지 않은가?
print(result)

True
False

In [21]:
t1 = (1,2,'a','b')
t1[0] = 'c' #튜플은 변경할 수 없음
del t1[2] #삭제할 수 없음

TypeError: 'tuple' object does not support item assignment

In [30]:
t1=(1,2,'a','b')
print(t1[1:]) # 인덱스 1부터 끝까지
t2=(3,4)
print(t1 + t2) # 새로운 튜플이 생성됨
t1 = t1 + t2
print("t1:",t1)

print(t1 * 3) # t1 튜플을 3개 연결한 새로운 튜플

(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
t1: (1, 2, 'a', 'b', 3, 4)
(1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4)

In [31]:
t1 = (1,2,3)
#튜플의 값을 여러 개의 변수에 저장
n1,n2,n3=t1
# 출력형식포함문자열.format(값1,값2,값3)
print("{0} {1} {2}".format(n1,n2,n3))
# 변수의 값을 교환
n1,n2=n2,n1
print("{} {}".format(n1,n2))

1 2 3
2 1

In [34]:
name="김철수"
age=20
height=180.5
print( "나이:{1}, 키:{2}, 이름:{0}".format(name,age,height))

나이:김철수, 키:20, 이름:180.5

In [38]:
my_list=[1,2,3]
my_tuple=('a','b','c')
a=tuple(my_list)
print( a ) #리스트를 튜플로 복사
b=list(my_tuple)
print( b ) #튜플을 리스트로 복사
print( type(a))
print( type(b) )

(1, 2, 3)
['a', 'b', 'c']
<class 'tuple'>
<class 'list'>

In [39]:
a={1:'a'} # { key:value , key:value }
a[2]='b' # 딕셔너리[key] = value  (새로운 요소 추가)
print(a)

{1: 'a', 2: 'b'}

In [43]:
a={"name":"김철수", "phone":"01033335555","birth":"901231"}
print(a)
print(a["name"])
print(a.get("name"))
print(a["birth"])

{'name': '김철수', 'phone': '01033335555', 'birth': '901231'}
김철수
김철수
901231

In [48]:
a={"name":"김철수", "phone":"01033335555","birth":"901231"}
print(a.keys()) # 딕셔너리의 key 집합
print(a.values()) # value 집합
# for 개별값 in 집합
for k in a.keys():
    print(k)
# key 집합을 리스트로 생성    
b=list(a.keys())    
print(b)
c=tuple(a.keys())
print(c)
print(a.items())

dict_keys(['name', 'phone', 'birth'])
dict_values(['김철수', '01033335555', '901231'])
name
phone
birth
['name', 'phone', 'birth']
('name', 'phone', 'birth')
dict_items([('name', '김철수'), ('phone', '01033335555'), ('birth', '901231')])

In [54]:
a={"name":"김철수", "phone":"01033335555","birth":"901231"}
print(a.items())
b= list(a.items()) #리스트로 저장
print( type(b) )
print( b[0] )

dict_items([('name', '김철수'), ('phone', '01033335555'), ('birth', '901231')])
<class 'list'>
('name', '김철수')

In [58]:
# 중복값은 제거됨, 순서대로 저장되지 않음
s1 = set([5,4,3,1,2,3,2,3,3,3,3])
s1

{1, 2, 3, 4, 5}

In [60]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
#print(s1 & s2) #교집합
#print(s1 | s2) #합집합
#print(s1 - s2) #차집합
print(s1.intersection(s2)) #교집합
print(s1.union(s2)) #합집합
print(s1.difference(s2)) #차집합

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [61]:
#값 1개 추가
s1=set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [64]:
#여러 개의 값 추가
s1=set([1,2,3])
s1.update([4,5,6])
print(s1)
s1.remove(2) # 값 제거
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}

In [69]:
from datetime import date,time,datetime,timedelta
today = date.today() #현재 날짜
print(today)
print(today.year) #연도
print(today.month) #월
print(today.day) #일
current_datetime = datetime.today() #현재 날짜+시간
print( current_datetime )

2018-03-30
2018
3
30
2018-03-30 11:21:14.672565

In [84]:
#형식화된 날짜 출력
today = datetime.today()
print( today )
print( type(today))
# 날짜 자료형을 문자열로 변환
# %y 연도, %m 월 %M 분 %H 시간
d = today.strftime("%y-%m-%d %H:%M:%S")
print( d )
print( type(d) )

2018-03-30 11:28:50.382630
<class 'datetime.datetime'>
18-03-30 11:28:50
<class 'str'>