In [1]:
a = input("입력하세요:")
print("결과:",a)

입력하세요:100
결과: 100

In [3]:
dan = input("단을 입력하세요:") #문자열로 입력됨
print(type(dan))
# eval(문자열)  => 숫자로 변환
dan = eval(input("단을 입력하세요:"))
print(type(dan))

단을 입력하세요:5
<class 'str'>
단을 입력하세요:5
<class 'int'>

In [10]:
# 문자열을 숫자로 변경
dan=eval(input("단을 입력하세요"))
print(type(dan))
# range(start, end)  start ~ end-1
for i in range(1,10):
    print( "{0} x {1} = {2}".format(dan,i,dan*i))

단을 입력하세요5
<class 'int'>
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [11]:
# range(n) : 0 ~ n-1
for i in range(10):
    print(i) #줄바꿈
for i in range(10):
    print(i, end=' ') #줄바꿈을 하지 않음

0
1
2
3
4
5
6
7
8
9
0 1 2 3 4 5 6 7 8 9

In [12]:
# sys 모듈 import
import sys
# 명령행 매개변수 인덱스 1부터 끝까지
args = sys.argv[1:]
for i in args:
    print(i)

-f
C:\Users\user\AppData\Roaming\jupyter\runtime\kernel-1ca4f51e-80e3-4ed1-bbfe-ba49ea41acaf.json

In [ ]:
# sys 모듈 import
import sys
# 명령행 매개변수의 1번~끝까지
args = sys.argv[1:]
for i in args:
    # 대문자로 변환, 한 라인에 출력
    print(i.upper(), end=' ')

In [17]:
name=input("이름:")
job=input("직업:")
print("직업 : {0}, 이름: {1}".format(name,job))
# {n} 출력순서를 바꾸어도 됨
print("이름: {1}, 직업 : {0}".format(name,job))
# {변수명} 사용 가능
print("이름: {n}, 직업:{j}".format(n=name,j=job))

이름:김철수
직업:작가
직업 : 김철수, 이름: 작가
이름: 작가, 직업 : 김철수
이름: 김철수, 직업:작가

In [27]:
import math
# {인덱스:출력형식} f : float 형식
print("원주율:{0:f}".format(math.pi))
# .2f  소수 이하 2자리 출력
print("원주율:{0:.2f}".format(math.pi))

원주율:3.141593
원주율:3.14

In [28]:
id="kim"
name = "김철수"
age = 20
print("{0}님의 이름:{1}, {0}님의 나이:{2}".format(id,name,age))

kim님의 이름:김철수, kim님의 나이:20

In [23]:
num=15
# d 10진수, x(heXa) 16진수 소문자
# X 16진수 대문자
# o(octal) 8진수
# b(Binary) 2진수
str="{0:d} {0:x} {0:X} {0:o} {0:b}".format(num)
print(str)
# 샵을 붙이면 진법에 해당하는 접두사가 추가됨
str="{0:#d} {0:#x} {0:#X} {0:#o} {0:#b}".format(num)
print(str)

15 f F 17 1111
15 0xf 0XF 0o17 0b1111

In [32]:
num = 1234567890
print(num)
#천단위 컴머 출력
print("{0:,}".format(num))
num = 0.99123521
print("{0:%}".format(num))
print("{0:.2%}".format(num))

1234567890
1,234,567,890
99.123521%
99.12%