In [1]:
print(abs(3))
print(abs(-3)) #음수를 양수로

3
3

In [2]:
print(all([1,2,3])) #모든 요소가 True이면 True
print(all([1,2,3,0])) #0 - False, 0이 아니면 True

True
False

In [5]:
print(any([0,1,2])) #하나라도 True이면 True
print(any([0,""])) # 문자열의 내용이 없으면 False, 있으면 True

True
False

In [7]:
# dir(객체) : 객체에 포함된 변수와 함수 목록
print(type([1,2,3]))
print(dir([1,2,3]))

<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [8]:
print(dir({'1','a'}))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [9]:
# divmod(a,b) a를 b로 나누었을 때의 몫과 나머지를 튜플로 리턴
print(divmod(7,3))

(2, 1)

In [10]:
print(divmod(1.3,0.2))

(6.0, 0.09999999999999998)

In [12]:
for num in [10,20,30,40,50]:
    print(num)
# 집합의 인덱스와 값을 리턴
for i,num in enumerate([10,20,30,40,50]):
    print(i,num)

10
20
30
40
50
0 10
1 20
2 30
3 40
4 50

In [18]:
print("1+2")
# eval(문자열수식) 문자열 내부의 수식의 계산 결과값 리턴
print(eval("1+2"))
print(1+2)

1+2
3
3

In [17]:
a=eval(input("식을 입력하세요:"))
a

식을 입력하세요:1+2

3

In [21]:
#10진수를 16진수로 변환
a=hex(16)
a
# 0x => 16진수

'0x10'

In [22]:
# id(객체) 객체의 번지값
a=3
print(id(3))
print(id(a))
b=a
print(id(b))

1400204832
1400204832
1400204832

In [23]:
a = input()
a

hello

'hello'

In [24]:
a = input("입력하세요:")
a

입력하세요:hello

'hello'

In [27]:
a="3"
print(type(a))
b=int("3")
print(type(b))
c=3.4
print(type(c))
#실수값을 정수로
d=int(c)
print(type(d))
print(d)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>
3

In [29]:
# int(value, 진수)
# 2진수 1111을 10진수로
a=int("1111",2)
a

15

In [30]:
#16진수 FF를 10진수로
a=int("FF",16)
a

255

In [31]:
#10진수 255를 16진수로
a=hex(255)
a

'0xff'

In [32]:
fruits=["사과","배","수박","바나나","포도"]
# 구분자.join(리스트)  리스트의 각 요소와 구분자를 연결하여
# 하나의 문자열을 리턴함
a=",".join(fruits)
a

'사과,배,수박,바나나,포도'

In [34]:
a="/".join(fruits)
a

'사과/배/수박/바나나/포도'

In [35]:
a="-".join(fruits)
a

'사과-배-수박-바나나-포도'

In [37]:
a="\n".join(fruits)
print(a)

사과
배
수박
바나나
포도

In [33]:
a='사과,배,수박,바나나,포도'
b=a.split(",")
b

['사과', '배', '수박', '바나나', '포도']

In [38]:
#문자열의 글자수
a=len("python")
a

6

In [39]:
#리스트의 요소 갯수
b=len([1,2,3])
b

3

In [40]:
#튜플의 요소 갯수
c=len((1,'a'))
c

2

In [41]:
#문자열을 리스트로
a=list("python")
a

['p', 'y', 't', 'h', 'o', 'n']

In [42]:
#튜플을 리스트로
b=list((1,2,3))
b

[1, 2, 3]

In [47]:
#함수 선언
def calc(x):
    return x*2

for n in [1,2,3,4]:
    a=calc(n)
    print(a,end=' ')

2 4 6 8

In [53]:
# map(함수이름, 리스트)
# 리스트의 각 요소가 함수의 입력매개변수에 전달되어 리턴됨
a=list(map(calc, [1,2,3,4]))
a

[2, 4, 6, 8]

In [55]:
a=max([1,20,3,5,8])
a

20

In [56]:
a=min([1,20,3,5,8])
a

1

In [57]:
a=max("hello world")
a

'w'

In [59]:
a=min("helloworld")
a

'd'

In [60]:
# pow(밑,지수) 
a=pow(2,4) # 2의 4승
a

16

In [61]:
a=pow(3,3) # 3의 3승
a

27

In [62]:
# range(n) : 0 ~ n-1
a=list(range(5))
a

[0, 1, 2, 3, 4]

In [63]:
# range(start, end) : start ~ end-1
a=list(range(5,10))
a

[5, 6, 7, 8, 9]

In [65]:
# range(start, end, step)  start ~ end-1
a=list(range(1,10,3))
a

[1, 4, 7]

In [74]:
# 정렬 후 리스트를 리턴
items=[3,1,5,7,9,0]
a=sorted(items)
print(a)
print(items)

[0, 1, 3, 5, 7, 9]
[3, 1, 5, 7, 9, 0]

In [68]:
b=sorted("hello world")
b

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [72]:
items = [3,1,2,8,0,9]
result=items.sort()
print(result) # 리턴값은 없음
print(items)

None
[0, 1, 2, 3, 8, 9]

In [77]:
a=3
# type(변수)  변수의 자료형
print(type(a)) 
# str(변수)  문자열로 변환
b=str(a)
print(b)
print(type(b))

<class 'int'>
3
<class 'str'>

In [78]:
# 여러개의 리스트를 같은 인덱스의 값끼리 묶음
a=list(zip([1,2,3],[4,5,6]))
a

[(1, 4), (2, 5), (3, 6)]

In [79]:
b=list(zip("abc","def","lmn"))
b

[('a', 'd', 'l'), ('b', 'e', 'm'), ('c', 'f', 'n')]

In [87]:
#사용자 정의 함수 선언
def say():
    print("HI")
    return 100,200,300,400,500

In [88]:
# 함수 호출
a,b,c,d,e=say()
print(a,b,c,d,e)

HI
100 200 300 400 500

In [93]:
def hello(name):
    print("Hello,", name)

In [95]:
#함수에 입력값 전달
a=hello("kim")
#리턴값이 없는 경우 None => null 
print(a)

Hello, kim
None

In [105]:
def hello2(name=None):
    if name==None:
        print("이름을 입력하세요")
        return
    print("Hello,", name)

In [106]:
hello2()

이름을 입력하세요

In [107]:
hello2("김철수")

Hello, 김철수

In [108]:
#입력값은 없고 리턴값은 있는 함수
def hello():
    return "안녕"

In [109]:
a=hello()
a

'안녕'

In [110]:
#입력값은 있고 리턴값은 없는 함수
def sum(a,b):
    print("%d + %d = %d" % (a,b,a+b))

In [111]:
sum(3,4)

3 + 4 = 7

In [122]:
# *변수 : 가변사이즈 매개변수
# 입력 매개변수의 값들을 모두 모아서 튜플로 만들어줌
def sum(*args):
    #print(args)
    #print(type(args))
    result=0
    for i in args:
        result = result + i
    return result

In [123]:
sum(1,2,3,4,5)

15

In [124]:
sum(1,3,4,5,6,7,8,9,10)

53

In [134]:
def test():
    #튜플로 리턴됨
    return 1,2,3,4,5

In [138]:
a,b,c,d,e=test()
print(a,b,c,d,e)
aa=test()
print(aa)
print(type(aa))

1 2 3 4 5
(1, 2, 3, 4, 5)
<class 'tuple'>

In [139]:
def sum_and_mul(a,b):
    return a+b #리턴은 한번만 가능    
    return a*b # 실행되지 않음

In [141]:
result=sum_and_mul(2,3)
result

5

In [149]:
def say(name, age=20):
    print("이름:%s" % name)
    print("나이:%d" % age)

In [147]:
say("김철수",25)

이름:김철수
나이:25

In [151]:
#say() #에러 발생
say("송민호")

이름:송민호
나이:20

In [152]:
def say(name="김철수", age):
    print("이름:%s" % name)
    print("나이:%d" % age)

SyntaxError: non-default argument follows default argument (<ipython-input-152-da456081c284>, line 1)

In [158]:
a=1 #전역변수
def test(a):
    a = a + 1  #지역변수
    print("a:",a)

SyntaxError: name 'a' is parameter and global (<ipython-input-158-cb33c6d236c0>, line 3)

In [156]:
test(a) #지역변수의 값이 바뀜

a: 2

In [157]:
print(a) #전역변수는 바뀌지 않음

1

In [167]:
a=1
def test2():
    global a #전역변수 a
    a = a+1 #지역변수가 아닌 전역변수 a의 값이 바뀜
    print(a)

In [168]:
test2()

2

In [169]:
print(a)

2

In [170]:
def set_person(name,job,age=''):
    person = {"name": name, "job":job}
    if age: #age의 값이 0 또는 빈값이 아니면 True
        person["age"] = age #딕셔너리에 변수 추가
    return person #딕셔너리 리턴

In [174]:
writer=set_person("김철수","작가",10)
writer

{'age': 10, 'job': '작가', 'name': '김철수'}

In [175]:
def greet(names):
    for name in names:
        msg = name+"님 환영합니다."
        print(msg)

In [177]:
names=("김철호","나철호","송민수")
#함수에 리스트 전달
greet(names)

김철호님 환영합니다.
나철호님 환영합니다.
송민수님 환영합니다.