In [1]:
import sqlite3
#파이썬 sqlite3 라이브러리의 버전
print(sqlite3.version)
#sqlite의 버전
print(sqlite3.sqlite_version)

2.6.0
3.27.2

In [3]:
def create_table():
    #my_books.db에 접속(없으면 생성 후 접속)
    conn=sqlite3.connect("D:\learn\python\db\my_books.db")
    #커서 오픈(sql을 실행하는 객체)
    cursor=conn.cursor()
    #테이블이 존재하지 않으면 생성
    cursor.execute("""
        create table if not exists books (
            title text,
            published_date text,
            publisher text,
            pages integer,
            recommend integer
        )
    """)
    conn.commit() #db에 반영
    conn.close() #db 연결 종료 파일이기 때문에 꼭 종료해줘야 한다.

create_table()

In [4]:
def insert_books():
    conn=sqlite3.connect("D:\learn\python\db\my_books.db") #db 접속
    cursor=conn.cursor() #커서 생성(sql 실행 객체)
    #inline sql query로 입력
    cursor.execute("insert into books values \
('java','2018-02-28','길벗',500,10)")
    # 매개변수를 이용한 쿼리에 튜플 데이터로 입력
    sql="insert into books values (?,?,?,?,?)"
    cursor.execute(sql, ("Python","2018-03-04","한빛",584,20))
    # 리스트를 이용한 대량 insert
    items=[
        ("빅데이터","2014-07-02","삼성",296,11),
        ("안드로이드","2010-07-02","영진",596,21),
        ("Spring","2013-07-02","에이콘",396,31)
    ]
    cursor.executemany(sql, items)
    conn.commit() #db에 반영
    conn.close() #db 접속 종료
    
insert_books()

In [5]:
import sqlite3 
def all_books():
    conn=sqlite3.connect("D:\learn\python\db\my_books.db") #db 오픈
    cursor=conn.cursor() #커서 생성
    cursor.execute("select * from books") #sql 실행
    books=cursor.fetchall() #모든 레코드를 리스트로 리턴
    #print(books)
    for book in books:
        print(book)
    conn.close() # db 접속 종료

all_books()

('자바', '2019-03-01', '길벗', 500, 10)
('java', '2018-02-28', '길벗', 500, 10)
('Python', '2018-03-04', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-07-02', '영진', 596, 21)
('Spring', '2013-07-02', '에이콘', 396, 31)

In [7]:
#일부 레코드 조회
def some_books(number):
    conn=sqlite3.connect("D:\learn\python\db\my_books.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    #지정된 숫자만큼의 레코드를 리스트로 리턴
    books = cursor.fetchmany(number)
    for book in books:
        print(book)
    conn.close()
    
some_books(3)

('자바', '2019-03-01', '길벗', 500, 10)
('java', '2018-02-28', '길벗', 500, 10)
('Python', '2018-03-04', '한빛', 584, 20)

In [11]:
def one_book():
    conn=sqlite3.connect("D:\learn\python\db\my_books.db")
    cursor = conn.cursor()
    cursor.execute("select * from books where title='빅데이터' ")
    #레코드 1개만 선택 => 튜플로 리턴
    print(cursor.fetchone()) 
    conn.close()

one_book()

('빅데이터', '2014-07-02', '삼성', 296, 11)

In [19]:
def update_books():
    conn=sqlite3.connect("d:/data/db/my_books.db")
    cursor=conn.cursor()
    sql = "update books set recommend=? where title=?"
    # ? 위치에 튜플의 값이 대입됨 
    cursor.execute(sql, (777, 'java'))
    conn.commit()
    conn.close()
    
update_books()
all_books()

('java', '2018-02-28', '길벗', 500, 777)
('Python', '2018-03-04', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-07-02', '영진', 596, 21)
('Spring', '2013-07-02', '에이콘', 396, 31)

In [23]:
def delete_books():
    conn=sqlite3.connect("d:/data/db/my_books.db")
    cursor=conn.cursor()
    sql="delete from books where publisher=?"
    cursor.execute(sql, ["삼성"] )
    conn.commit()
    conn.close()
    
delete_books()
all_books()

('java', '2018-02-28', '길벗', 500, 777)
('Python', '2018-03-04', '한빛', 584, 20)
('안드로이드', '2010-07-02', '영진', 596, 21)
('Spring', '2013-07-02', '에이콘', 396, 31)

In [9]:
import sqlite3
conn=sqlite3.connect("D:\learn\python\db\sales.db") #db 파일 오픈
sql="""
create table if not exists sales (
    customer varchar(20),
    product varchar(50),
    price float,
    date date
)
"""
conn.execute(sql) #테이블 생성
# 리스트 => 테이블, 튜플 => 레코드
data=[
    ("김철수","배",10000,"2018-01-02"),
    ("김민수","사과",20000,"2018-02-02"),
    ("김현수","포도",15000,"2018-03-02"),
    ("한민호","자두",30000,"2018-04-02"),    
]
statement="insert into sales values (?,?,?,?)"
conn.executemany(statement, data) #리스트를 한꺼번에 insert
conn.commit();

In [32]:
cursor = conn.execute("select count(*) from sales")
row=cursor.fetchone()
print("레코드 갯수:",row[0])

cursor = conn.execute("select * from sales")
rows=cursor.fetchall() #모든 레코드를 리스트로 리턴
print(rows)
count=0
for row in rows:
    print(row)
    count += 1 #카운트 증가 처리, ++은 안됨
print("rows:{0}".format(count))

레코드 갯수: 4
[('김철수', '배', 10000.0, '2018-01-02'), ('김민수', '사과', 20000.0, '2018-02-02'), ('김현수', '포도', 15000.0, '2018-03-02'), ('한민호', '자두', 30000.0, '2018-04-02')]
('김철수', '배', 10000.0, '2018-01-02')
('김민수', '사과', 20000.0, '2018-02-02')
('김현수', '포도', 15000.0, '2018-03-02')
('한민호', '자두', 30000.0, '2018-04-02')
rows:4

In [10]:
import csv # csv 모듈 로딩
import sqlite3
input_file = "D:\learn\python\db\input.csv"

conn=sqlite3.connect("D:\learn\python\db\suppliers.db") #DB생성 및 오픈
cursor=conn.cursor() # 커서 생성
sql="""
create table if not exists suppliers (
    supplier_name varchar(20),
    invoice_number varchar(20),
    part_number varchar(20),
    cost float,
    purchase_date date
)
"""
cursor.execute(sql) # 테이블이 만들어짐
#기존 레코드 삭제
sql="delete from suppliers"
cursor.execute(sql)

# csv.reader( 파일참조변수, delimiter("필드구분자"))
file_reader = csv.reader(open(input_file,"r"), delimiter=",")
#print(file_reader)
header = next(file_reader, None) #csv 파일의 첫 라인을 읽음
#print(header)
for row in file_reader: # csv 파일의 한 라인을 row 변수에 저장
    data=[] #비어있는 리스트를 생성
    for idx in range(len(header)): #필드 인덱스
        data.append(row[idx]) #필드 추가
    #print(data)
    #레코드를 저장
    cursor.execute("insert into suppliers values (?,?,?,?,?)",data)
conn.commit()
#sql 실행
output=cursor.execute("select * from suppliers")
rows=output.fetchall() #모든 레코드를 리스트로 리턴받음
#print(rows)
#print(len(row))
#print(range(5))
for row in rows: # 레코드 단위로 실행
    output=[]
    for column_index in range(len(row)):
        output.append( str(row[column_index])) #리스트에 추가
    print(output)

['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['C', '920-4803', '3321', '615000.0', '2017-02-03']
['C', '920-4804', '3321', '615000.0', '2017-02-10']
['C', '920-4805', '3321', '615000.0', '2017-02-17']
['C', '920-4806', '3321', '615000.0', '2017-02-24']

In [12]:
import sqlite3
conn=sqlite3.connect("D:\learn\python\db\sales.db")
# ?에는 튜플의 값이 입력됨
conn.execute("update sales set price=?, date=? where customer=?",\
            (98000,"2017-11-25","김철수") )
conn.commit()
cursor = conn.execute("select * from sales")
rows = cursor.fetchall() #모든 레코드를 리스트로 리턴받음
#print(rows)
for row in rows: #리스트의 각 요소(튜플)을 반복 처리
    print(row)
    output=[]
    for idx in range(len(row)):
        output.append(str(row[idx])) #빈 리스트에 추가
    #print(output)
    
conn.close

('김철수', '배', 98000.0, '2017-11-25')
('김민수', '사과', 20000.0, '2018-02-02')
('김현수', '포도', 15000.0, '2018-03-02')
('한민호', '자두', 30000.0, '2018-04-02')