In [2]:
import csv
import MySQLdb
from datetime import datetime, date

input_file="d:/data/db/input.csv" #데이터파일 경로
#mysql server에 접속
conn= MySQLdb.connect(host="localhost",port=3306,db="my_suppliers",\
                      user="java", passwd="java1234")
cursor=conn.cursor() # sql 실행을 위한 커서 객체 생성
#기존 레코드 삭제
sql="delete from suppliers"
cursor.execute(sql)
conn.commit()

# csv 파일 로딩(구분자는 쉼표)
file_reader= csv.reader(open(input_file,"r"), delimiter=",")
header=next(file_reader) #첫라인은 넘어감
print(header)
for row in file_reader:
    data=[]
    for idx in range(len(header)):
        data.append(str(row[idx]).replace(",","").strip())
    print(data)
    cursor.execute(\
"insert into suppliers values (%s,%s,%s,%s,%s)",data) #sql 실행

conn.commit()    #db에 반영

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['A', '001-1001', '2341', '500000', '2014-01-20']
['A', '001-1001', '2341', '500000', '2014-01-20']
['A', '001-1001', '5467', '750000', '2014-01-20']
['A', '001-1001', '5467', '750000', '2014-01-20']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9505', '6650', '125000', '2017-02-03']
['B', '50-9505', '6650', '125000', '2017-02-03']
['C', '920-4803', '3321', '615000', '2017-02-03']
['C', '920-4804', '3321', '615000', '2017-02-10']
['C', '920-4805', '3321', '615000', '2017-02-17']
['C', '920-4806', '3321', '615000', '2017-02-24']

In [3]:
cursor.execute("select * from suppliers") #쿼리 실행
rows = cursor.fetchall() #전체 레코드셋을 리스트로 리턴
for row in rows: # 모든 레코드 반복 처리
    output=[]
    for idx in range(len(row)):
        output.append(str(row[idx]))
    print(output)

['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['C', '920-4803', '3321', '615000.0', '2017-02-03']
['C', '920-4804', '3321', '615000.0', '2017-02-10']
['C', '920-4805', '3321', '615000.0', '2017-02-17']
['C', '920-4806', '3321', '615000.0', '2017-02-24']

In [4]:
import csv # csv 모듈
import MySQLdb # mysql 모듈

output_file="d:/data/db/mysql_output.csv" #출력 파일 이름
#mysql server에 접속
conn=MySQLdb.connect(host="localhost",port=3306,db="my_suppliers",\
                     user="java",passwd="java1234")
cursor=conn.cursor() #sql 실행을 위한 커서 객체 생성
# 개행문자는 없고 필드구분자는 쉼표
filewriter=csv.writer(open(output_file,"w",newline=""),delimiter=",")
header=["Supplier Name","Invoice Number",\
        "Part Number","Cost","Purchase Date"]
filewriter.writerow(header) #첫행 저장
#쿼리 실행
cursor.execute("select * from suppliers where cost>500000")
rows = cursor.fetchall() #모든 레코드셋을 리스트로 받음
for row in rows:
    filewriter.writerow(row) #파일에 한 라인을 저장(개행문자 추가)

In [26]:
import MySQLdb # mysql 모듈 로딩
conn=MySQLdb.connect(host="localhost",\
port=3306,db="my_suppliers",user="java",passwd="java1234")
cursor=conn.cursor() #커서 객체 생성(sql 실행+결과셋 탐색)
sql = """
update suppliers 
set cost=%s , purchase_date=%s 
where supplier_name=%s
"""
cursor.execute(sql, (1500,'2015-01-20',"A"))
conn.commit() #DB에 반영
cursor.execute("select * from suppliers")
rows = cursor.fetchall() #전체 레코드셋을 튜플로 리턴받음
#print(rows)
#print(type(rows))
for row in rows:
    output=[]
    for idx in range(len(row)):
        output.append(str(row[idx]))
    print(output)

['A', '001-1001', '2341', '1500.0', '2015-01-20']
['A', '001-1001', '2341', '1500.0', '2015-01-20']
['A', '001-1001', '5467', '1500.0', '2015-01-20']
['A', '001-1001', '5467', '1500.0', '2015-01-20']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['C', '920-4803', '3321', '615000.0', '2017-02-03']
['C', '920-4804', '3321', '615000.0', '2017-02-10']
['C', '920-4805', '3321', '615000.0', '2017-02-17']
['C', '920-4806', '3321', '615000.0', '2017-02-24']